*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.links{
    text-decoration: none;
    border: solid 1px white;
    color: white;
    padding: 6px 10px;
}
#link-col{
 color: black;
 border: solid 1px rgb(15, 15, 15);
}

.wrapper{

width: 1200px;
height: auto;
margin: 0px auto;
display: grid;
grid-template-columns: repeat(2,1fr);


}
.manu ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    padding:20px 0px 20px ;
    
    
}
ul {
    justify-content: space-evenly;
    font-size: 20px;
    

}
.log-img{
    padding:20px 0px 20px ;
}

